@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Poppins&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:active,
a:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

* {
  margin: 0;
  padding: 0;
}

body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('../images/bg-barilla.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-width: 920px;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  margin: 0 auto;
}

.first__row {
  border-radius: 0.7em;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.7);
  margin: 1em;
}

.first__row-tittle {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #f01a18;
  border-radius: 0.7em 0.7em 0 0;
  text-align: center;
}

.first__row-tittle h1 {
  font-family: "Baloo Bhai", cursive;
  color: #fff;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.first__row-tittle h1 i {
  font-style: italic;
  line-height: inherit;
}

.first__row-logo {
  width: 83.33333%;
  margin: 30px auto 20px;
}

.first__row-logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.zoom {
  width: 100%;
  height: 100%;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoom {
  from {
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@keyframes zoom {
  from {
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.first__row-form {
  width: 83.33333%;
  margin: 0 auto;
}

.first__row-form form h2 {
  font-size: 1.5em;
  color: #363636;
  text-shadow: 0 0 0.85em #ccc;
  font-weight: 200;
  text-align: center;
}

.generbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto 0;
}

.generbox .cell {
  width: 49%;
  height: 40px;
}

.generbox .cell input {
  position: absolute;
  z-index: -1;
  left: -9999px;
}

.generbox .cell label {
  font-size: 0.9rem;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #1779ba;
  color: #1779ba;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.generbox .cell label:hover {
  border-color: #0c3d5d;
  color: #0c3d5d;
  -webkit-transition: all 0.35s ease-in-out !important;
  transition: all 0.35s ease-in-out !important;
}

.generbox .cell input:checked ~ label {
  background-color: rgba(23, 121, 186, 0.75);
  color: #fff;
}

.status {
  display: block;
  color: #c71414;
  margin-bottom: 1px;
  font-size: 0.75rem;
  text-align: left;
  display: none;
}

.input__fields {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  position: relative;
  margin-top: 20px;
}

.input-item input {
  color: white;
  padding: 1rem 0.5rem 0.5rem;
  background-color: transparent;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 1px solid #677073;
  font-size: 16px;
}

.input-item label {
  color: #4e4e4e;
  font-weight: 400;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-item input:focus ~ label {
  top: 0;
  font-size: 12px;
}

.input__item-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.input__item-3,
.input__item-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.input__item-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.input__item-4 .select-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.input__item-4 .select-item-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 700;
  color: #4e4e4e;
  margin-bottom: 25px;
}

.input__item-4 select {
  width: 100%;
  color: #4e4e4e;
  position: relative;
  color: #0a394c;
  background-color: transparent;
  height: 2.7rem;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #677073;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.submit-button {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f01a18;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  text-align: center;
}

.submit-button span {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0c3d5d;
}

#blink {
  -webkit-animation: blink 1.2s linear infinite;
          animation: blink 1.2s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: rgba(190, 190, 190, 0);
  }
  100% {
    color: transparent;
  }
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: rgba(190, 190, 190, 0);
  }
  100% {
    color: transparent;
  }
}

.second__row {
  border-radius: 0.7em;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.7);
  margin: 1em;
  font-size: 0.6em;
}

.footer {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 91.66667%;
  margin: 0 auto;
}

.footer p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.footer__links {
  text-align: center;
}

.footer__links a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: underline;
  cursor: pointer;
}

.modal-wind {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  text-align: left;
}

.btn-close {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

@media (max-width: 650px) {
  .input__item-1, .input__item-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
